# **Scalar Value**

In [12]:
import numpy as np;

num : np.ndarray = np.array(1000); # N-Dimensional Array

print(f"Object: {num}");

print(f"Object Shape: {num.shape}");

print(f"Object Type: {num.dtype}");

print(f"Object Type With Global Function: {type(num)}");

print(f"Number Of Dimension: {num.ndim}");

print(f"Total Items In Array: {num.size}");

print(f"Object Item Size: {num.itemsize}");

Object: 1000
Object Shape: ()
Object Type: int64
Object Type With Global Function: <class 'numpy.ndarray'>
Number Of Dimension: 0
Total Items In Array: 1
Object Item Size: 8

# **Vector Type**

In [13]:
num2 : np.ndarray = np.array([1,2,3,4]);

print(f"Object: {num2}");

print(f"Object Shape: {num2.shape}");

print(f"Object Type: {num2.dtype}");

print(f"Object Type With Global Function: {type(num2)}");

print(f"Number Of Dimension: {num2.ndim}");

print(f"Total Items In Array: {num2.size}");

print(f"Object Item Size: {num2.itemsize}");

Object: [1 2 3 4]
Object Shape: (4,)
Object Type: int64
Object Type With Global Function: <class 'numpy.ndarray'>
Number Of Dimension: 1
Total Items In Array: 4
Object Item Size: 8

# **Matrix**

In [14]:
data = [[0, 1, 2, 3],
        [4, 5, 6, 7],
        [8, 9, 10, 11]];

num3 : np.ndarray = np.array(data);

print(f"Object: {num3}");

print(f"Object Shape: {num3.shape}");

print(f"Object Type: {num3.dtype}");

print(f"Object Type With Global Function: {type(num3)}");

print(f"Number Of Dimension: {num3.ndim}");

print(f"Total Items In Array: {num3.size}");

print(f"Object Item Size: {num3.itemsize}");

Object: [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
Object Shape: (3, 4)
Object Type: int64
Object Type With Global Function: <class 'numpy.ndarray'>
Number Of Dimension: 2
Total Items In Array: 12
Object Item Size: 8

In [15]:
from nptyping import NDArray, Shape, UInt64;

data : NDArray[Shape["10"], UInt64] = np.arange(10);

print(data);

[0 1 2 3 4 5 6 7 8 9]

In [16]:
from nptyping import NDArray, Shape, UInt64;

data : NDArray[Shape["10"], UInt64] = np.arange(1, 11);

print(data);

print(data + 5);

[ 1  2  3  4  5  6  7  8  9 10]
[ 6  7  8  9 10 11 12 13 14 15]

In [17]:
newData : list[int] = list(range(1, 11));

print([ i + 5 for i in newData ]); # List Comprehensive

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [18]:
%%time

data : NDArray[Shape["10000000"], UInt64] = np.arange(1, 10000000);

data + 5

CPU times: user 17.4 ms, sys: 48.1 ms, total: 65.5 ms
Wall time: 67.3 ms

array([       6,        7,        8, ..., 10000002, 10000003, 10000004])

In [19]:
%%time

data : list[int] = list(range(1, 10000000));

[ i + 5 for i in data ] # Time Taken

CPU times: user 646 ms, sys: 494 ms, total: 1.14 s
Wall time: 1.14 s

[6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 ...]

# **Numpy Advanced Operations Vs List Operations**

In [20]:
data : list[int] = list(range(1,21));

print(data);

print(data[5:11]);

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11]

In [21]:
nData : NDArray[Shape["20"], UInt64] = np.arange(1,21);

print(nData);

print(nData[5:11]);

nData[5:11] = 1000;

print(nData);

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[ 6  7  8  9 10 11]
[   1    2    3    4    5 1000 1000 1000 1000 1000 1000   12   13   14
   15   16   17   18   19   20]

# **Boolean Slicing**

In [22]:
from nptyping import Bool, UInt64;

stateBank : NDArray[Shape["4"], UInt64] = np.array([1,7,8,10]);

select : NDArray[Shape["4"], Bool]= np.array([True, False, False, True]);

print(stateBank[select]); # Boolean Slicing

[ 1 10]

In [23]:
stateBank : NDArray[Shape["10"], UInt64] = np.array([1,2,3,4,5,6,7,8,9,10]);

print(stateBank % 2 == 0);

[False  True False  True False  True False  True False  True]

In [24]:
stateBank : NDArray[Shape["10"], UInt64] = np.array([1,2,3,4,5,6,7,8,9,10]);

print(stateBank[stateBank % 2 == 0]);

[ 2  4  6  8 10]

# **Numpy 1D Function**

In [33]:
stateBank : NDArray[Shape["4"], UInt64] = np.array([1,7,8,10]);

bank : NDArray[Shape["100"], UInt64] = np.random.randint(1, 100, 20); # Start , End & Quantity

print(stateBank);

print(bank);

[ 1  7  8 10]
[44 58 66 51 73 23  1 67 81 76 64 18 11 18 10 38 19 76 99 23]

In [34]:
print(stateBank);

print(bank);

print(np.in1d(stateBank, bank));

print(stateBank[np.in1d(stateBank, bank)]);

[ 1  7  8 10]
[44 58 66 51 73 23  1 67 81 76 64 18 11 18 10 38 19 76 99 23]
[ True False False  True]
[ 1 10]

In [35]:
print(np.intersect1d(stateBank, bank));

[ 1 10]

In [36]:
x : NDArray[Shape["5"], UInt64] = np.array([1,3,4,9,7]);

y : NDArray[Shape["5"], UInt64] = np.array([6,3,2,5,100]);

print(x);

print(y);

print(np.where(x > y, x, y));

[1 3 4 9 7]
[  6   3   2   5 100]
[  6   3   4   9 100]

# **Numpy Array Types**

In [37]:
from typing import Any;

a : NDArray[Shape["Size, Size"], Any] = np.array([[1, 2, 3],
                                                  [4, 5, 6]]);
print(a);

a : NDArray[Shape["Size, Size"], Any] = np.array([[1, 2],
                                                  [4, 5]]);
print(a);

a : NDArray[Shape["Size, Size"], Any] = np.array([["A"],
                                                  ["B"]]);
print(a);

[[1 2 3]
 [4 5 6]]
[[1 2]
 [4 5]]
[['A']
 ['B']]

In [38]:
a : NDArray[Shape["*, *"], UInt64] = np.array([[1, 2, 3],
                                               [4, 5, 6]]);
print(a);

a : NDArray[Shape["*, *"], UInt64] = np.array([[1, 2],
                                               [4, 5]]);
print(a);

a : NDArray[Shape["*, *"], UInt64] = np.array([["A"],
                                               ["B"]]);
print(a);

[[1 2 3]
 [4 5 6]]
[[1 2]
 [4 5]]
[['A']
 ['B']]

In [39]:
np.who() # It's Provide Every Present NumPy Array's Information

Name            Shape            Bytes            Type
===========================================================

__              9999999          79999992         int64
num                              8                int64
num2            4                32               int64
num3            3 x 4            96               int64
_18 (__)        9999999          79999992         int64
nData           20               160              int64
stateBank       4                32               int64
select          4                4                bool
bank            20               160              int64
x               5                40               int64
y               5                40               int64
a               2 x 1            8                str32

Upper bound on total bytes  =       80000572

In [40]:
np.info(stateBank) # It's Provide Specific NumPy Array Information

class:  ndarray
shape:  (4,)
strides:  (8,)
itemsize:  8
aligned:  True
contiguous:  True
fortran:  True
data pointer: 0x5ce00ceaf250
byteorder:  little
byteswap:  False
type: int64

# **NumPy Any Dimension Array**

In [41]:
a : NDArray[Shape["Size"], UInt64] = np.arange(1, 5); # 1 Dimension Array

print(a);

b : NDArray[Shape["Size"], UInt64] = np.arange(1, 10);

print(b);

[1 2 3 4]
[1 2 3 4 5 6 7 8 9]

In [43]:
a : NDArray[Shape["Size , Size"], UInt64] = np.arange(3 * 3).reshape(3, 3); # 2 Dimensions Array

print(a);

b : NDArray[Shape["Size , Size"], UInt64] = np.arange(5 * 3).reshape(5, 3);

print(b);

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]
 [12 13 14]]

In [44]:
a : NDArray[Shape["Size , Size , Size"], UInt64] = np.arange(2 * 3 * 3).reshape(2, 3, 3); # 3 Dimensions Array

print(f"{a}\n");

b : NDArray[Shape["Size , Size , Size"], UInt64] = np.arange(5 * 2 * 2).reshape(5, 2, 2);

print(b);

[[[ 0  1  2]
  [ 3  4  5]
  [ 6  7  8]]

 [[ 9 10 11]
  [12 13 14]
  [15 16 17]]]

[[[ 0  1]
  [ 2  3]]

 [[ 4  5]
  [ 6  7]]

 [[ 8  9]
  [10 11]]

 [[12 13]
  [14 15]]

 [[16 17]
  [18 19]]]

In [45]:
b : NDArray[Shape["Size , Size , Size"], UInt64] = np.arange(5 * 2 * 2).reshape(5, 2, 2);

print(b[::2, ::, ::]); # 2D Array , Rows & Items In Row

[[[ 0  1]
  [ 2  3]]

 [[ 8  9]
  [10 11]]

 [[16 17]
  [18 19]]]

In [46]:
print(b[::3, ::, ::]);

[[[ 0  1]
  [ 2  3]]

 [[12 13]
  [14 15]]]

In [47]:
b : NDArray[Shape["Size , Size , Size"], Bool] = np.arange(5 * 2 * 2).reshape(5, 2, 2);

[b % 2 == 0]

[array([[[ True, False],
         [ True, False]],

        [[ True, False],
         [ True, False]],

        [[ True, False],
         [ True, False]],

        [[ True, False],
         [ True, False]],

        [[ True, False],
         [ True, False]]])]

In [48]:
print(b[b % 2 == 0]);

[ 0  2  4  6  8 10 12 14 16 18]

In [53]:
print(np.asarray((1,2,3))); # Convert In Array

np.asarray((1))

[1 2 3]

array(1)

In [54]:
print(np.zeros(10));

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [55]:
print(np.zeros((2, 2)));

[[0. 0.]
 [0. 0.]]

In [56]:
print(np.ones((2, 2)));

[[1. 1.]
 [1. 1.]]

In [57]:
x : NDArray[Shape["Size , Size , Size"], UInt64] = np.arange(5 * 2 * 2).reshape(5, 2, 2);

print(x);

[[[ 0  1]
  [ 2  3]]

 [[ 4  5]
  [ 6  7]]

 [[ 8  9]
  [10 11]]

 [[12 13]
  [14 15]]

 [[16 17]
  [18 19]]]

In [58]:
print(np.ones_like(x));

[[[1 1]
  [1 1]]

 [[1 1]
  [1 1]]

 [[1 1]
  [1 1]]

 [[1 1]
  [1 1]]

 [[1 1]
  [1 1]]]

In [59]:
print(np.zeros_like(x));

[[[0 0]
  [0 0]]

 [[0 0]
  [0 0]]

 [[0 0]
  [0 0]]

 [[0 0]
  [0 0]]

 [[0 0]
  [0 0]]]

In [60]:
print(np.full_like(x, 4)); # Array Convert Custom Number

[[[4 4]
  [4 4]]

 [[4 4]
  [4 4]]

 [[4 4]
  [4 4]]

 [[4 4]
  [4 4]]

 [[4 4]
  [4 4]]]

In [61]:
x : NDArray[Shape["Size , Size , Size"], UInt64] = np.arange(5 * 2 * 2).reshape(5, 2, 2);

print(x[[0, -1], ::, ::]);

[[[ 0  1]
  [ 2  3]]

 [[16 17]
  [18 19]]]

In [66]:
ndata : NDArray[Shape["20"], UInt64] = np.arange(1, 21);

print(ndata);

print(ndata.min());

print(ndata.max());

print(ndata.argmin()); # Return Index Of Min Value

print(ndata.argmax()); # Return Index Of Max Value

print(ndata.mean()); # Average Calculate Of All Elements

print(ndata.sum()); # Return Sum Of All Elements

print(ndata.cumsum()); # Return Cumulative Sum Calculate

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
1
20
0
19
10.5
210
[  1   3   6  10  15  21  28  36  45  55  66  78  91 105 120 136 153 171
 190 210]