In [78]:
import pandas as pd;
import numpy as np;
from nptyping import NDArray, Shape, Int64;

total : int = 10000;

s1 : NDArray[Shape[str(total)], Int64] = np.random.randint(80, 100, total);

print(len(s1));

s1

10000

array([88, 94, 87, ..., 84, 89, 85])

In [79]:
ss1: pd.Series = pd.Series(s1);

ss1

0       88
1       94
2       87
3       82
4       95
        ..
9995    95
9996    87
9997    84
9998    89
9999    85
Length: 10000, dtype: int64

In [80]:
total : int = 10000;

s1 : NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(80, 100, (total, 5)); # Return 5 Rows Data

ss1: pd.DataFrame = pd.DataFrame(s1, columns=["s1","s2","s3","s4","s5"]);

s2 : NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(70, 79, (total, 5));

ss2: pd.DataFrame = pd.DataFrame(s2, columns=["s1","s2","s3","s4","s5"]);

s3 : NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(60, 69, (total, 5));

ss3: pd.DataFrame = pd.DataFrame(s3, columns=["s1","s2","s3","s4","s5"]);

s4 : NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(50, 59, (total, 5));

ss4: pd.DataFrame = pd.DataFrame(s4, columns=["s1","s2","s3","s4","s5"]);

s5 : NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(40, 49, (total, 5));

ss5: pd.DataFrame = pd.DataFrame(s5, columns=["s1","s2","s3","s4","s5"]);

s6 : NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(33, 39, (total, 5));

ss6: pd.DataFrame = pd.DataFrame(s6, columns=["s1","s2","s3","s4","s5"]);

s7 : NDArray[Shape[str(total) + "5"], Int64] = np.random.randint(0, 32, (total, 5));

ss7: pd.DataFrame = pd.DataFrame(s7, columns=["s1","s2","s3","s4","s5"]);

print(len(ss1));

print(len(ss2));

print(len(ss3));

print(len(ss4));

print(len(ss5));

print(len(ss6));

print(len(ss7));

10000
10000
10000
10000
10000
10000
10000

In [81]:
ss1

      s1  s2  s3  s4  s5
0     98  99  86  87  88
1     92  81  91  87  80
2     95  97  96  80  94
3     81  80  87  91  80
4     98  95  95  86  82
...   ..  ..  ..  ..  ..
9995  98  86  81  91  91
9996  98  98  94  84  83
9997  90  88  85  89  81
9998  93  82  92  89  93
9999  82  84  97  88  87

[10000 rows x 5 columns]

In [82]:
ss4

      s1  s2  s3  s4  s5
0     54  56  57  50  53
1     52  53  51  51  51
2     50  54  53  55  55
3     53  52  52  50  58
4     57  56  58  51  54
...   ..  ..  ..  ..  ..
9995  50  55  51  53  58
9996  57  51  57  51  55
9997  55  55  51  53  51
9998  56  58  51  58  56
9999  52  50  53  52  57

[10000 rows x 5 columns]

In [83]:
ss6

      s1  s2  s3  s4  s5
0     36  35  35  38  38
1     37  33  34  35  33
2     38  38  33  35  34
3     34  35  38  34  38
4     33  34  34  36  36
...   ..  ..  ..  ..  ..
9995  38  35  37  37  36
9996  35  38  38  35  37
9997  34  35  38  38  33
9998  37  35  35  37  38
9999  34  35  33  37  36

[10000 rows x 5 columns]

In [84]:
df : pd.DataFrame = pd.concat([ss1,ss2,ss3,ss4,ss5,ss6,ss7]);

df

      s1  s2  s3  s4  s5
0     98  99  86  87  88
1     92  81  91  87  80
2     95  97  96  80  94
3     81  80  87  91  80
4     98  95  95  86  82
...   ..  ..  ..  ..  ..
9995  17  23  22  15   1
9996  13   9  26   2  19
9997  11   4  28  12  19
9998  22  27   2   9   4
9999  10   3  31  13   2

[70000 rows x 5 columns]

In [87]:
df : pd.DataFrame = pd.concat([ss1,ss2,ss3,ss4,ss5,ss6,ss7]).reset_index();

df

       index  s1  s2  s3  s4  s5
0          0  98  99  86  87  88
1          1  92  81  91  87  80
2          2  95  97  96  80  94
3          3  81  80  87  91  80
4          4  98  95  95  86  82
...      ...  ..  ..  ..  ..  ..
69995   9995  17  23  22  15   1
69996   9996  13   9  26   2  19
69997   9997  11   4  28  12  19
69998   9998  22  27   2   9   4
69999   9999  10   3  31  13   2

[70000 rows x 6 columns]

In [88]:
df : pd.DataFrame = pd.concat([ss1,ss2,ss3,ss4,ss5,ss6,ss7]).reset_index(drop = True); # Remove Old Index Column

df

       s1  s2  s3  s4  s5
0      98  99  86  87  88
1      92  81  91  87  80
2      95  97  96  80  94
3      81  80  87  91  80
4      98  95  95  86  82
...    ..  ..  ..  ..  ..
69995  17  23  22  15   1
69996  13   9  26   2  19
69997  11   4  28  12  19
69998  22  27   2   9   4
69999  10   3  31  13   2

[70000 rows x 5 columns]

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   s1      70000 non-null  int64
 1   s2      70000 non-null  int64
 2   s3      70000 non-null  int64
 3   s4      70000 non-null  int64
 4   s5      70000 non-null  int64
dtypes: int64(5)
memory usage: 2.7 MB

In [91]:
df.describe()

                 s1            s2            s3            s4            s5
count  70000.000000  70000.000000  70000.000000  70000.000000  70000.000000
mean      53.802214     53.753129     53.793543     53.769171     53.803457
std       23.348241     23.419459     23.410689     23.419428     23.401190
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%       37.000000     37.000000     37.000000     37.000000     37.000000
50%       54.000000     54.000000     54.000000     54.000000     54.000000
75%       72.000000     72.000000     72.000000     72.000000     72.000000
max       99.000000     99.000000     99.000000     99.000000     99.000000

In [93]:
df.head() # Default Show First 5 Rows

   s1  s2  s3  s4  s5
0  98  99  86  87  88
1  92  81  91  87  80
2  95  97  96  80  94
3  81  80  87  91  80
4  98  95  95  86  82

In [94]:
df.head(10)

   s1  s2  s3  s4  s5
0  98  99  86  87  88
1  92  81  91  87  80
2  95  97  96  80  94
3  81  80  87  91  80
4  98  95  95  86  82
5  90  83  90  93  88
6  95  89  89  84  95
7  92  97  85  84  90
8  89  90  95  86  87
9  86  86  81  85  90

In [95]:
df.tail() # Default Show Last 5 Rows

       s1  s2  s3  s4  s5
69995  17  23  22  15   1
69996  13   9  26   2  19
69997  11   4  28  12  19
69998  22  27   2   9   4
69999  10   3  31  13   2

In [96]:
df.tail(9)

       s1  s2  s3  s4  s5
69991  29   4  26   1  29
69992  11  11  21  14   2
69993  29  28  18  22  26
69994  11  14  31   1  11
69995  17  23  22  15   1
69996  13   9  26   2  19
69997  11   4  28  12  19
69998  22  27   2   9   4
69999  10   3  31  13   2

In [97]:
df.to_csv("data.csv", index=False) # Create CSV File And Add Previous Function Data

In [98]:
df1 : pd.DataFrame = pd.read_csv("./data.csv");

df1.head()

   s1  s2  s3  s4  s5
0  98  99  86  87  88
1  92  81  91  87  80
2  95  97  96  80  94
3  81  80  87  91  80
4  98  95  95  86  82

In [99]:
df1

       s1  s2  s3  s4  s5
0      98  99  86  87  88
1      92  81  91  87  80
2      95  97  96  80  94
3      81  80  87  91  80
4      98  95  95  86  82
...    ..  ..  ..  ..  ..
69995  17  23  22  15   1
69996  13   9  26   2  19
69997  11   4  28  12  19
69998  22  27   2   9   4
69999  10   3  31  13   2

[70000 rows x 5 columns]

# **Apply Operations On Columns**

In [ ]:
display(df.head());

   s1  s2  s3  s4  s5
0  87  86  95  89  98
1  85  88  80  91  95
2  80  83  90  90  80
3  85  98  86  91  93
4  99  95  92  91  83

In [ ]:
display(df["s5"]);

0        98
1        95
2        80
3        93
4        83
         ..
69995    19
69996     2
69997    19
69998     8
69999    21
Name: s5, Length: 70000, dtype: int32

In [ ]:
display(df.s5);

0        98
1        95
2        80
3        93
4        83
         ..
69995    19
69996     2
69997    19
69998     8
69999    21
Name: s5, Length: 70000, dtype: int32

In [ ]:
display(df[["s1","s5","s3","s4"]]); # Get Multiple Columns

       s1  s5  s3  s4
0      87  98  95  89
1      85  95  80  91
2      80  80  90  90
3      85  93  86  91
4      99  83  92  91
...    ..  ..  ..  ..
69995   2  19   1  18
69996  12   2   3  24
69997  28  19   2   0
69998  25   8  29   3
69999  15  21  12  23

[70000 rows x 4 columns]

In [ ]:
display(df);

       s1  s2  s3  s4  s5
0      87  86  95  89  98
1      85  88  80  91  95
2      80  83  90  90  80
3      85  98  86  91  93
4      99  95  92  91  83
...    ..  ..  ..  ..  ..
69995   2   3   1  18  19
69996  12  11   3  24   2
69997  28  11   2   0  19
69998  25  18  29   3   8
69999  15   1  12  23  21

[70000 rows x 5 columns]

In [ ]:
df["Total"] = 500; # Add New Column

df

       s1  s2  s3  s4  s5  Total
0      87  86  95  89  98    500
1      85  88  80  91  95    500
2      80  83  90  90  80    500
3      85  98  86  91  93    500
4      99  95  92  91  83    500
...    ..  ..  ..  ..  ..    ...
69995   2   3   1  18  19    500
69996  12  11   3  24   2    500
69997  28  11   2   0  19    500
69998  25  18  29   3   8    500
69999  15   1  12  23  21    500

[70000 rows x 6 columns]

In [ ]:
df["Total"] = 300; # Update Column Values

df

       s1  s2  s3  s4  s5  Total
0      87  86  95  89  98    300
1      85  88  80  91  95    300
2      80  83  90  90  80    300
3      85  98  86  91  93    300
4      99  95  92  91  83    300
...    ..  ..  ..  ..  ..    ...
69995   2   3   1  18  19    300
69996  12  11   3  24   2    300
69997  28  11   2   0  19    300
69998  25  18  29   3   8    300
69999  15   1  12  23  21    300

[70000 rows x 6 columns]

In [ ]:
del df["Total"]; # Delete Column

df

       s1  s2  s3  s4  s5
0      87  86  95  89  98
1      85  88  80  91  95
2      80  83  90  90  80
3      85  98  86  91  93
4      99  95  92  91  83
...    ..  ..  ..  ..  ..
69995   2   3   1  18  19
69996  12  11   3  24   2
69997  28  11   2   0  19
69998  25  18  29   3   8
69999  15   1  12  23  21

[70000 rows x 5 columns]

In [ ]:
display(df);

       s1  s2  s3  s4  s5
0      87  86  95  89  98
1      85  88  80  91  95
2      80  83  90  90  80
3      85  98  86  91  93
4      99  95  92  91  83
...    ..  ..  ..  ..  ..
69995   2   3   1  18  19
69996  12  11   3  24   2
69997  28  11   2   0  19
69998  25  18  29   3   8
69999  15   1  12  23  21

[70000 rows x 5 columns]

In [ ]:
df.Total = 500; # But Add Column This Method

df

       s1  s2  s3  s4  s5
0      87  86  95  89  98
1      85  88  80  91  95
2      80  83  90  90  80
3      85  98  86  91  93
4      99  95  92  91  83
...    ..  ..  ..  ..  ..
69995   2   3   1  18  19
69996  12  11   3  24   2
69997  28  11   2   0  19
69998  25  18  29   3   8
69999  15   1  12  23  21

[70000 rows x 5 columns]

In [ ]:
df["Total"] = 500;

df.Total = 300; # And Not Update & Delete Column

df

       s1  s2  s3  s4  s5  Total
0      87  86  95  89  98    500
1      85  88  80  91  95    500
2      80  83  90  90  80    500
3      85  98  86  91  93    500
4      99  95  92  91  83    500
...    ..  ..  ..  ..  ..    ...
69995   2   3   1  18  19    500
69996  12  11   3  24   2    500
69997  28  11   2   0  19    500
69998  25  18  29   3   8    500
69999  15   1  12  23  21    500

[70000 rows x 6 columns]

In [ ]:
del df["Total"];

display(df);

       s1  s2  s3  s4  s5
0      87  86  95  89  98
1      85  88  80  91  95
2      80  83  90  90  80
3      85  98  86  91  93
4      99  95  92  91  83
...    ..  ..  ..  ..  ..
69995   2   3   1  18  19
69996  12  11   3  24   2
69997  28  11   2   0  19
69998  25  18  29   3   8
69999  15   1  12  23  21

[70000 rows x 5 columns]

In [ ]:
df.head()

   s1  s2  s3  s4  s5
0  87  86  95  89  98
1  85  88  80  91  95
2  80  83  90  90  80
3  85  98  86  91  93
4  99  95  92  91  83

In [ ]:
print(87 + 86 + 95 + 89 + 98); # According To Upper DataFrame

dfTotal = df["s1"] + df["s2"] + df["s3"] + df["s4"] + df["s5"]; # All Rows Values Are Sum

dfTotal

455

0        455
1        439
2        423
3        453
4        460
        ...
69995     43
69996     52
69997     60
69998     83
69999     72
Length: 70000, dtype: int32

In [ ]:
df["Obtained"] = dfTotal;

df["Total"] = 500;

df

       s1  s2  s3  s4  s5  Obtained  Total
0      87  86  95  89  98       455    500
1      85  88  80  91  95       439    500
2      80  83  90  90  80       423    500
3      85  98  86  91  93       453    500
4      99  95  92  91  83       460    500
...    ..  ..  ..  ..  ..       ...    ...
69995   2   3   1  18  19        43    500
69996  12  11   3  24   2        52    500
69997  28  11   2   0  19        60    500
69998  25  18  29   3   8        83    500
69999  15   1  12  23  21        72    500

[70000 rows x 7 columns]

In [ ]:
df["Percentage"] = df["Obtained"] / df["Total"] * 100;

display(df);

       s1  s2  s3  s4  s5  Obtained  Total  Percentage
0      87  86  95  89  98       455    500        91.0
1      85  88  80  91  95       439    500        87.8
2      80  83  90  90  80       423    500        84.6
3      85  98  86  91  93       453    500        90.6
4      99  95  92  91  83       460    500        92.0
...    ..  ..  ..  ..  ..       ...    ...         ...
69995   2   3   1  18  19        43    500         8.6
69996  12  11   3  24   2        52    500        10.4
69997  28  11   2   0  19        60    500        12.0
69998  25  18  29   3   8        83    500        16.6
69999  15   1  12  23  21        72    500        14.4

[70000 rows x 8 columns]

In [ ]:
def grade(per: int) -> str:

    if per >= 80:

        return "A+";

    elif per >= 70:

        return "A";

    elif per >= 60:

        return "B";

    elif per >= 50:

        return "C";

    elif per >= 40:

        return "D";

    elif per >= 33:

        return "E";

    else:

        return "F";

print(grade(82));

A+

In [ ]:
df.head()

   s1  s2  s3  s4  s5  Obtained  Total  Percentage
0  87  86  95  89  98       455    500        91.0
1  85  88  80  91  95       439    500        87.8
2  80  83  90  90  80       423    500        84.6
3  85  98  86  91  93       453    500        90.6
4  99  95  92  91  83       460    500        92.0

In [ ]:
df["Percentage"].apply(grade)

0        A+
1        A+
2        A+
3        A+
4        A+
         ..
69995     F
69996     F
69997     F
69998     F
69999     F
Name: Percentage, Length: 70000, dtype: object

In [ ]:
df["Grade"] = df["Percentage"].apply(grade);

display(df);

       s1  s2  s3  s4  s5  Obtained  Total  Percentage Grade
0      87  86  95  89  98       455    500        91.0    A+
1      85  88  80  91  95       439    500        87.8    A+
2      80  83  90  90  80       423    500        84.6    A+
3      85  98  86  91  93       453    500        90.6    A+
4      99  95  92  91  83       460    500        92.0    A+
...    ..  ..  ..  ..  ..       ...    ...         ...   ...
69995   2   3   1  18  19        43    500         8.6     F
69996  12  11   3  24   2        52    500        10.4     F
69997  28  11   2   0  19        60    500        12.0     F
69998  25  18  29   3   8        83    500        16.6     F
69999  15   1  12  23  21        72    500        14.4     F

[70000 rows x 9 columns]

# **Apply Custom Function On Multiple Columns**

In [ ]:
df1.head()

   s1  s2  s3  s4  s5
0  87  86  95  89  98
1  85  88  80  91  95
2  80  83  90  90  80
3  85  98  86  91  93
4  99  95  92  91  83

In [ ]:
display(df1[0:10]); # Direct Slicing Apply

   s1  s2  s3  s4  s5
0  87  86  95  89  98
1  85  88  80  91  95
2  80  83  90  90  80
3  85  98  86  91  93
4  99  95  92  91  83
5  81  86  86  85  87
6  86  82  96  96  84
7  95  94  84  97  95
8  90  86  83  84  88
9  85  98  90  95  92

In [ ]:
df1.iloc[1:11, 1:4] # Numpy Slicing Apply On Columns & Rows Index

    s2  s3  s4
1   88  80  91
2   83  90  90
3   98  86  91
4   95  92  91
5   86  86  85
6   82  96  96
7   94  84  97
8   86  83  84
9   98  90  95
10  88  94  93

In [ ]:
df1.loc[1:11] # The Only One Slice Method That Can Return End Value

    s1  s2  s3  s4  s5
1   85  88  80  91  95
2   80  83  90  90  80
3   85  98  86  91  93
4   99  95  92  91  83
5   81  86  86  85  87
6   86  82  96  96  84
7   95  94  84  97  95
8   90  86  83  84  88
9   85  98  90  95  92
10  88  88  94  93  83
11  82  81  84  93  90

In [ ]:
df1.loc[1:11, "s1":"s3"] # Direct Slicing Apply On Columns & Rows Lables

    s1  s2  s3
1   85  88  80
2   80  83  90
3   85  98  86
4   99  95  92
5   81  86  86
6   86  82  96
7   95  94  84
8   90  86  83
9   85  98  90
10  88  88  94
11  82  81  84

In [ ]:
df1.at[4,"s1"] # It Return Only Single Value On Label

99

In [ ]:
df1.iat[4,0] # It Return Only Single Value On Index

99

In [ ]:
df1.head()

   s1  s2  s3  s4  s5
0  87  86  95  89  98
1  85  88  80  91  95
2  80  83  90  90  80
3  85  98  86  91  93
4  99  95  92  91  83

In [ ]:
def fnObtained(s1: int, s2: int, s3: int, s4: int, s5: int) -> int:

    return s1 + s2 + s3 + s4 + s5;

df1["Obtained"] = df1[["s1", "s2", "s3", "s4", "s5"]].apply(lambda x: fnObtained(* x), axis=1); # Single Output & Multi Input

df1

       s1  s2  s3  s4  s5  Obtained
0      87  86  95  89  98       455
1      85  88  80  91  95       439
2      80  83  90  90  80       423
3      85  98  86  91  93       453
4      99  95  92  91  83       460
...    ..  ..  ..  ..  ..       ...
69995   2   3   1  18  19        43
69996  12  11   3  24   2        52
69997  28  11   2   0  19        60
69998  25  18  29   3   8        83
69999  15   1  12  23  21        72

[70000 rows x 6 columns]

In [ ]:
def fnObtained(s1: int, s2: int, s3: int, s4: int, s5: int) -> tuple[int, int, float, str]:

    total: int = 500;

    obtained :int = s1 + s2 + s3 + s4 + s5;

    per : float = obtained / total * 100;

    grade : str = "";

    if per >= 80:
        grade = "A+";
    elif per >= 70:
        grade = "A";
    elif per >= 60:
        grade = "B";
    elif per >= 50:
        grade = "C";
    elif per >= 40:
        grade = "D";
    elif per >= 33:
        grade = "E";
    else:
        grade = "F";

    return total, obtained, per, grade;

df1[["Total","Obtained", "Percentage", "Grade"]] = df1[["s1", "s2", "s3", "s4", "s5"]].apply(lambda x: fnObtained(* x),
                                                                                             axis=1,
                                                                                             result_type="expand");

display(df1); # Multi Output & Multi Input

       s1  s2  s3  s4  s5  Obtained  Total  Percentage Grade
0      87  86  95  89  98       455    500        91.0    A+
1      85  88  80  91  95       439    500        87.8    A+
2      80  83  90  90  80       423    500        84.6    A+
3      85  98  86  91  93       453    500        90.6    A+
4      99  95  92  91  83       460    500        92.0    A+
...    ..  ..  ..  ..  ..       ...    ...         ...   ...
69995   2   3   1  18  19        43    500         8.6     F
69996  12  11   3  24   2        52    500        10.4     F
69997  28  11   2   0  19        60    500        12.0     F
69998  25  18  29   3   8        83    500        16.6     F
69999  15   1  12  23  21        72    500        14.4     F

[70000 rows x 9 columns]

In [ ]:
from typing import Dict;

remark : Dict[str, str] = {
    "A+" : "Excellent",
    "A" : "Very Good",
    "B" : "Good",
    "C" : "Fair",
    "D" : "Poor",
    "E" : "Very Poor",
    "F": "Fail"
};

df1["Remark"] = df1.Grade.map(remark);

display(df1);

       s1  s2  s3  s4  s5  Obtained  Total  Percentage Grade     Remark
0      87  86  95  89  98       455    500        91.0    A+  Excellent
1      85  88  80  91  95       439    500        87.8    A+  Excellent
2      80  83  90  90  80       423    500        84.6    A+  Excellent
3      85  98  86  91  93       453    500        90.6    A+  Excellent
4      99  95  92  91  83       460    500        92.0    A+  Excellent
...    ..  ..  ..  ..  ..       ...    ...         ...   ...        ...
69995   2   3   1  18  19        43    500         8.6     F       Fail
69996  12  11   3  24   2        52    500        10.4     F       Fail
69997  28  11   2   0  19        60    500        12.0     F       Fail
69998  25  18  29   3   8        83    500        16.6     F       Fail
69999  15   1  12  23  21        72    500        14.4     F       Fail

[70000 rows x 10 columns]

# **Type Casting On Columns**

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   s1          70000 non-null  int64
 1   s2          70000 non-null  int64
 2   s3          70000 non-null  int64
 3   s4          70000 non-null  int64
 4   s5          70000 non-null  int64
 5   Obtained    70000 non-null  int64
 6   Total       70000 non-null  int64
 7   Percentage  70000 non-null  float64
 8   Grade       70000 non-null  object
 9   Remark      70000 non-null  object
dtypes: float64(1), int64(7), object(2)
memory usage: 5.3+ MB

In [ ]:
df1["s1"] = df1["s1"].astype(np.int32);

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   s1          70000 non-null  int32
 1   s2          70000 non-null  int64
 2   s3          70000 non-null  int64
 3   s4          70000 non-null  int64
 4   s5          70000 non-null  int64
 5   Obtained    70000 non-null  int64
 6   Total       70000 non-null  int64
 7   Percentage  70000 non-null  float64
 8   Grade       70000 non-null  object
 9   Remark      70000 non-null  object
dtypes: float64(1), int32(1), int64(6), object(2)
memory usage: 5.1+ MB

In [ ]:
df1["s2"] = df1["s2"].apply(np.int64);

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   s1          70000 non-null  int32
 1   s2          70000 non-null  int64
 2   s3          70000 non-null  int64
 3   s4          70000 non-null  int64
 4   s5          70000 non-null  int64
 5   Obtained    70000 non-null  int64
 6   Total       70000 non-null  int64
 7   Percentage  70000 non-null  float64
 8   Grade       70000 non-null  object
 9   Remark      70000 non-null  object
dtypes: float64(1), int32(1), int64(6), object(2)
memory usage: 5.1+ MB